.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 140px);
  background-color: var(--light);
}

.login__body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  background-color: var(--lightGrey);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRadius);
}

.login__submit {
  border-radius: var(--borderRadius);
}