.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: var(--light);
}

.loader__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px !important;
  width: 100%;
  min-height: calc(100vh - 150px);
}