.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px !important;
  width: 100%;
  background: var(--primary) !important;
}

.header__title {
  margin: 0 0 3px 0 !important;
}

.title__link {
  color: var(--white) !important;
}